/********************header*********************/
.navbar{
 background-color:  #f0fff0;
 height: 60px;
 color: #2e8b57;
 border-left: 15px solid #2e8060;
 border-right: 15px solid #2e8060;
 border-top: #2e8060 solid 10px; 
 box-shadow: 1px 1px 1px #2e8b57; 
 font-family: NTR;
}
.navbar-brand{
 margin-top: 20px;
}
#logo{
  margin-top: 1px;
}
.navbar-toggler{
  background-color: #2e8b57;
}
.navbar .container .navbar-collapse .nav-item .nav-link span{
  color: #069719;
  margin-left: 5px;
}
.navbar .container .navbar-collapse .nav-item a{
  color: #112901;
  margin-right: 20px;
  margin-top: -5px;
}
nav .container .collapse .navbar-nav .nav-item{
  font-size: 100%;
  font-weight: 500;
  height: 51px;
  padding-top: 13px;
  margin-top: 100;
  margin-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.navbar .container .navbar-collapse .navbar-text a span{
  color: #15097a;
  font-size: large;
}
.navbar .container .navbar-collapse .navbar-text a{
  color: #069719;
  font-size: larger;
}
.navbar .container .navbar-collapse .navbar-nav .active{
  border-bottom: #50c878  5px solid;
  background-color: #c1fac1;
  height: 50px;
}
/**end header**/


/******************* body **********************/
body{
  color: #112901;
  background-color: #eef7ee;
  text-align: left;
  font-weight: 500;
  font-family: Mada;
  font-size: 105%;
}
#loginModal .modal-dialog .modal-content{
  background-color: #f0fff0;
}
#registerModal .modal-dialog .modal-content{
  background-color: #f0fff0;
}
#registerModal {
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    margin: 20px;
    vertical-align: middle;
}
#chalkboardJumbo {
  background-image: url(/images/chalk-board.jpg);
  margin-top: 0;
  margin-bottom: 0;
  font-size: xx-large;
  font-weight: bolder;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#journeyJumbo{
  background-image: url(/images/journey.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.jumbotron{
  width: 100%;
  margin-bottom: 0;
  background-size: 100%;
  background-image: url(/images/chalk-board.jpg);
  color: #ecfde4;
  text-align: justify;
  font-family: Walter Turncoat;
  font-size: larger;
  border-radius: 0px;
  padding-top: 30px;
  max-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.jumbotron .container .col-12 center{
  padding-top: 80px;
}
.jumbotron .container .col-12 h1{
  margin-top: -25px;
}
.breadcrumb{
  background-color: #c1fac1;
  border-bottom-right-radius: 100px;
  font-size: 90%;
}
#startjourneybtn{
  width: 30%;
  width: 15em;
  padding: 1em;
  color: rgb(255, 255, 255);
  background-color: #2e8060;
  border-radius: 0.25em;
  text-decoration: none;
  text-align: center;
}
#startjourneybtn:hover, #startjourneybtn:focus {
  color: #86fc86;
  text-decoration: none;
}
#startjourneybtn::before {
  font-family: "Font Awesome 5 Solid";
}
#journeyJumbo .svg-inline--fa {
  margin-right: 0.5em;
}
.breadcrumb-item{
  color: #006400;
}
#aboutmoto{
  text-align: center;
  vertical-align: middle;
}
h2{
  color: #006400;
}
#contactbtns{
  border-left: #50c878 solid 5px;
  vertical-align: middle;
}
#contactbtn{
 padding-top: 8%;
}
.card-header{
  background-color: #2e8060;
  color: #ecfde4;
}

.carousel .carousel-item {
  height: 355px;
}
.carousel .carousel-item .carousel-caption{
  font-size: 350%;
  font-family: East Sea Dokdo;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 3px 3px #2e8060;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 350px;
}
#carouselButton{
  right: 0;
  position: absolute;
  bottom: 0;
  background-color: #2e8b57;
  color: aliceblue;
}
.container .row .col-12 .card .card-body{
  background-color: #f8fff8;
}
#container1{
  border-top: #bccebe solid .1px;
  padding-top: 40px;
  padding-bottom: 70px;
}
.paraborder p{
  border-left: #50c878 4px solid;
  padding-left: 10px;
  padding-top: 15px;
}
#container2{
  padding-top: 40px;
  padding-bottom: 70px;
}
#container3{
  padding-top: 40px;
  border-top: #bccebe solid .1px;
  padding-bottom: 70px;
}
#contactcont1{
  border-top: #bccebe solid .1px;
  padding-top: 40px;
  border-bottom: #bccebe solid .1px;
  padding-bottom: 40px;
}
#contactcont1 .row .col-12 address a{
 color: #50c878;
}
#contactcont1 .row .col-12 address a:hover{
  color: #069719;
 }
#contactcont2{
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: #bccebe solid .1px;
}
#contactcont3{
  padding-top: 100px;
  text-align: center;
}
#contactcont2main{
  padding-top: 50px;
}
.row iframe{
  border: 0; 
  height: 300px;
  margin-top: 20px;
}
.row .card .blockquote .blockquote-footer cite a{
  color: #50c878;
}
.row .card .blockquote .blockquote-footer cite a:hover{
  color: #069719;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #50c878;
  color: #f8fff8;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
}
#myBtn:hover {
  background-color: #55bb77;
}
#homecont1{
  margin-top: 100px
}
#homecont2{
  margin-top: 100px
}
#homecont3{
  margin-top: 100px;
  margin-bottom: 100px;
}
#vision{
  margin-top: 100px;
}
#accordion{
  margin-top: 20px;
}
.card{
  box-shadow: .7px .7px .7px #2e8b57;
}

/**End body**/

/******************* footer **********************/
.panel-footer{
  color: #eef7ee;
  padding-top: 3%;
  background-image: url(/images/chalk-board.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.panel-footer .container .row .col-12 .list-unstyled li a{
 color: chartreuse;
}
.panel-footer .container .row .col-12 .list-unstyled li a:hover{
  color: #50c878;
 }
.panel-footer .container .row .col-12 address a{
  color: chartreuse;
 }
 .panel-footer .container .row .col-12 address a:hover{
  color: #50c878;
 }
.copyright{
 align-items: center;
 margin-top: 20px;
 font-family: NTR;
 font-size: 105%;
 font-weight: 500;
 color: #112901;
}
.falinks{
  margin-bottom: 3%;
}
#proudly-zambian{
  text-align: center;
  font-size: small;
}
#copyrightdiv{
  background-color: #aae2aa;
  border-top:  #2e8060 15px solid;
  border-bottom: #50c878 25px solid;
  text-align: center;
}
#footerlogo{
  margin-top: -23px;
  margin-bottom: -30px;
  align-self: flex-start;
  text-align: center;
}
/**end footer**/

  




