/********************header*********************/
.navbar{
 background-color:  #f0fff0;
 height: 70px;
 color: #2e8b57;
 border-left: 25px solid #086614;
 border-right: 25px solid #086614;
 border-top: #069719 solid 20px; 
 box-shadow: 1px 1px 1px #2e8b57; 
}
.navbar-brand{
 margin-top: -2px;
}
.navbar-toggler{
  background-color: #2e8b57;
}
.navbar .container .navbar-collapse .nav-item .nav-link span{
  color: #069719;
  margin-left: 5px;
}
.navbar .container .navbar-collapse .nav-item a{
  font-size: small;
  font-weight: 900;
  color:  #15097a;
  margin-right: 10px;
  margin-top: 10px;
}
.navbar .container .navbar-collapse .navbar-text a span{
  color: #15097a;
  font-size: large;
}
.navbar .container .navbar-collapse .navbar-text a{
  font-size: small;
  font-weight: 700;
  color: #069719;
}
.navbar .container .navbar-collapse .navbar-nav .active{
  margin-top: -1px;
  border-bottom: #50c878  5px solid;
  background-color: #c1fac1;
}
/**end header**/


/******************* body **********************/
body{
  color: rgb(9, 49, 122);
  background-color: #eef7ee;
  text-align: left;
  font-weight: 400;
}
#loginModal .modal-dialog .modal-content{
  background-color: #f0fff0;
}
#kidsjumbo {
  background-image: url(/images/12.jpg);
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;
  background-size: 100%;
  
}
.jumbotron{
  padding-top: 120px;
  background-color: #3d965a;
  color: #c1fac1;
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: 600;
  border-radius: 0px;
}
.breadcrumb{
  margin-top: -32px;
  background-color: #c1fac1;
  border-bottom-right-radius: 100px;

}
.breadcrumb-item{
  color: #006400;
}
#aboutmoto{
  text-align: center;
  vertical-align: middle;
}
h2{
  color: #006400;
}
#contactbtns{
  border-left: #50c878 solid 5px;
  vertical-align: middle;
}
#contactbtn{
 padding-top: 8%;
}
.card-header{
  background-color: #98fb98;
}
.carousel .carousel-item {
  height: 350px;
}
.carousel .carousel-item .carousel-caption{
  color: #4d9256;
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 350px;
}
.container .row .col-12 .card .card-body{
  background-color: #f8fff8;
}
#container1{
  border-top: #bccebe solid .1px;
  padding-top: 40px;
  padding-bottom: 70px;
}
.paraborder p{
  border-left: #50c878 4px solid;
  padding-left: 10px;
  padding-top: 15px;
}
#container2{
  padding-top: 40px;
  border-bottom: #bccebe solid .1px;
  padding-bottom: 70px;
}
#container3{
  padding-top: 40px;
  padding-bottom: 70px;
}
#contactcont1{
  border-top: #bccebe solid .1px;
  padding-top: 40px;
  border-bottom: #bccebe solid .1px;
  padding-bottom: 40px;
}
#contactcont1 .row .col-12 address a{
 color: #50c878;
}
#contactcont1 .row .col-12 address a:hover{
  color: #069719;
 }
#contactcont2{
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: #bccebe solid .1px;
}
#contactcont3{
  padding-top: 100px;
  text-align: center;
}
#contactcont2main{
  padding-top: 100px;
}
.row iframe{
  border: 0; 
  height: 300px;
  margin-top: 20px;
}
.row .card .blockquote .blockquote-footer cite a{
  color: #50c878;
}
.row .card .blockquote .blockquote-footer cite a:hover{
  color: #069719;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #50c878;
  color: #f8fff8;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
}
#myBtn:hover {
  background-color: #55bb77;
}
#homecont1{
  margin-top: 100px
}
#homecont2{
  margin-top: 100px
}
#homecont3{
  margin-top: 100px;
  margin-bottom: 100px;
}
#vision{
  margin-top: 100px;
}
#accordion{
  margin-top: 20px;
}
.card{
  box-shadow: .7px .7px .7px #2e8b57;
}
/**End body**/

/******************* footer **********************/
.panel-footer{
  color: #eef7ee;
  padding-top: 3%;
  background-image: url(/images/2018-11-5--09-30-58.jpeg);
  background-size: 100%; 
}

.panel-footer .container .row .col-12 .list-unstyled li a{
 color: chartreuse;
}
.panel-footer .container .row .col-12 .list-unstyled li a:hover{
  color: #50c878;
 }
.panel-footer .container .row .col-12 address a{
  color: chartreuse;
 }
 .panel-footer .container .row .col-12 address a:hover{
  color: #50c878;
 }
.copyright{
 font-size: small;
 align-items: center;
 margin-top: 20px;
}
.falinks{
  margin-bottom: 3%;
}
#proudly-zambian{
  text-align: center;
  font-size: x-small;
}
#copyrightdiv{
  background-color: #aae2aa;
  color: #15097a;
  font-weight: 600;
  border-top:  #2e8b57 20px solid;
  border-bottom: #50c878 25px solid;
  text-align: center;
}
#footerlogo{
  margin-top: -27px;
  margin-bottom: -30px;
  align-self: flex-start;
  text-align: center;
}
/**end footer**/

  




