.navbar{
 background-color:  #ffffff;
 height: 100px;
 color: #2e8b57;
 border-left: 32px solid #50c878;
 border-right: 32px solid #50c878;
 border-top: #50c878 solid 10px; 
 box-shadow: 5px 5px 5px #2e8b57; 
}

.navbar a{
  color: #2e8b57;
 }

.navbar-brand{
 margin-top: -10px;
}
.navbar-toggler{
  background-color: #2e8b57;
}

/* 
#collapsable-navbar{
 margin-top: 45px;
}
#collapsable-navbar ul li a{
 color: #000033; 
}
#responsive-btn{
 background-color: #22bd22;
 border: none;
}
#small{
 margin-top: 60px;
 margin-left: 120px;
}
#small em{
 color: #22bd22;
 text-decoration: underline;
} */
/**end header**/

/******************* body **********************/
body{
  color: rgb(21, 9, 122);
  background-color: #eef7ee;
  text-align: justify;
}
#kidsjumbo {
  background-image: url(/images/12.jpg);
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;
  background-size: 100%;
  
}
.jumbotron{
  padding-top: 150px;
  background-color: #50c878;
  color: floralwhite;
  text-align: justify;
  background-image: url(/images/2018-11-5--09-30-58.jpeg);
  background-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}
.breadcrumb{
  margin-top: -32px;
  background-color: #aefcae;
  border-bottom-right-radius: 100px;

}
.breadcrumb-item{
  color: #006400;
}
#aboutmoto{
  text-align: center;
  vertical-align: middle;
}
h2{
  color: #006400;
}
#contactbtns{
  border-left: #2e8b57 solid 5px;
  vertical-align: middle;
}
#contactbtn{
 padding-top: 8%;
}
.card-header{
  background-color: #98fb98;
}
.carousel .carousel-item {
  height: 350px;
}
.carousel .carousel-item .carousel-caption{
  color: #98fb98;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 350px;
}
/**End body**/

/******************* footer **********************/
.panel-footer{
  background-color: #2e8b57;
  color: floralwhite;
  padding-top: 3%;
  background-image: url(/images/2018-11-5--09-30-58.jpeg);
  background-size: 100%; 
}

.panel-footer li a:hover{
 color: #50c878;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.copyright{
 border-top: #50c878 solid 1px;
}
.falinks{
  margin-bottom: 3%;
}
#proudly-zambian{
  float: right;
  font-size: x-small;
}
/**end footer**/

  




